body {
    padding: 40px 400px;
}

form input {
    margin-top: 10px; 
    width: 300px;
    height: 50px;
}

h2 {
    margin-top: 40px;
    font-size: 24px;
    text-decoration: underline;
}

ul li {
    font-size: 20px;
}

button.button_custom {
    width: 150px;
    height: 50px;
}