#tab {
  padding: 15px;
  background-color: transparent;
  margin: 2% 12% 12% 12%;
  min-height: 100%;
  position:relative;
}

#tab2 {
  padding: 15px;
  background-color: transparent;
  margin: 2% 2% 2% 2%;
  min-height:100%;
  position:relative;
}

html{
  min-height: 100%;
  box-sizing: border-box;
}

body{
height: 90vh;
background-image: url("../img/bg.webp") !important;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.button_container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
}

.btn-block {
    width: 300px;
    height: 80px;
}

a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  color: black;
}